/* 定义全局样式变量 */
html {
    /* ******************header *****************/
    /* 头部背景色 */
    --header-bg-color: #f6f7f8;
    /* 头部-LOGO背景色 */
    --header-logo-bgcolor: #f00;
    /* 头部-标题字体颜色 */
    --header-title-color:#000;
  
    /* ******************* 左侧菜单************* */
    --sider-panel-bg-color: #273352;
    /* 菜单主背景颜色 */
    --sider-menu-bg-color: #eee;
    /* 菜单字体颜色 */
    --sider-menu-font-color: #222;
    /* 选中菜单背景颜色，默认为 #e6f7ff; */
    --sider-menu-selected-bgcolor: #e6f7ff;
    /* 选中菜单字颜色，默认为 #1890ff; */
    --sider-menu-selected-fontcolor:#1890ff;

    --primary-color: #ccc; 
    --text-color: #000;
    --container-bg-color: rgb(240, 242, 245);
    /* Icon图标样式 */
    --iconify-default-color:#333;
  }
  /* 引入字体文件 */
  @font-face {
    font-family: 'PangMenZhengDao';
    src: url('./PangMenZhengDao.ttf');
 }
  /* iconify Icon图标样式 */
  .iconify
  {
    color: var(--iconify-default-color);
    width:16px;
    height:16px;
    /* 图片文字的基线对齐，必须要有 */
    vertical-align: middle;
  }
  
  /**  Form表格相关样式 **/
  .ant-form-item
  {
    margin-bottom: 10px !important;
  }
  /*
  用于FormItem  一行两个
  */
  .scopeBox {
    display: inline-flex;
    width: 50%;
  }
  .backContainer
  {
    pointer-events: none !important;
  }


